
.home_page {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  background: linear-gradient(135deg, #bbbbbbfb, #f3f3f3, #ffffff);
}


.hero-section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(135deg, #cf3166fb, #a700ff, #180082);
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}


.hero-text {
  flex: 1;
  max-width: 500px;
  color: white;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffffff;
}

.hero-video {
  flex: 1;
  max-width: 600px;
}

.hero-video video {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
  object-fit: cover;
}

.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
  animation: zoomEffect 4s ease-in-out infinite alternate;
}


.frontdiv {
  /* border: 1px solid blue; */
  margin: 2em 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  gap: 2rem;

}

.frontdiv1 {
  /* border: 1px solid red; */
  margin: 2em 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  gap: 2rem;
}


.imagesection {
  width: 45%;
  min-width: 300px;
  height: 360px;
}

.imagesection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.4s ease-in-out, box-shadow 0.8s ease-in-out;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);
}

.imagesection img:hover {
  transform: rotateY(360deg);
  box-shadow: 4px 9px 15px rgba(255, 0, 179, 0.7);
}

/* Text Section with Animated Heading */
.headingtextSection {
  max-width: 500px;
}

.animated-heading {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #0206ff, #8400ff, #fc00ef, #ff0062);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation:fireShimmer 2s linear infinite;
  margin-bottom: 1rem;
}

@keyframes fireShimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.headingtextSection p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
  color: #1f1f1f;
  text-align: justify;
}



.headings {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(90deg, #cf3166fb, #a700ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 1px solid #000000;
  text-align: left;
  padding-left: 1vmax;
  margin: 2vmax;
} 
