.home_page{
    margin: 20px 30px;
    padding: 20px;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.main_heading{
    
    font-size: 48px; 
    font-weight: bold;
    background: linear-gradient(90deg, #cf3166fb, #a700ff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    border-bottom: 1px solid #0c0c0c;

}
.solution_box{
    display: flex;
    justify-content: center;
    margin: 20px 0;


}
.heading2_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 40px;
    width: auto;

}
.home_content{
    list-style: none;
    font-size: 1.1rem;
    :hover{
        
        font-weight: 400;
        text-decoration: underline;
    }



}
.home_content li{
    
    color: rgb(39, 38, 39);
    width: 250px;
}
.image_div{
    
    margin: 5px;
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    gap: 0.3rem;


}
.imageofericsir{
    margin-left: 10px;
    /* padding-left: 10px; */
    height: 20px;
    border-radius: 50%;
    width: 20px;

}